@{
    ViewBag.Title = "About Nissan";
}
<h2>@ViewBag.Title.</h2>


<p> CMH Nissan Durban
Welcome to CMH Nissan Durban. Our dealership is ideally situated at 192 Dr Pixley Kaseme Street with easy access to the public and great parking space available. Why not visit us today where we will gladly show you around our dealership.</p>

<address>
    <strong>Nissan Website:</strong>   <a href="http://www.cmhnissan.co.za">www.chmnissan.co.za.com</a>
   
</address>
<br />
<br />
<br />
<h3>@Html.ActionLink("Click here to watch an overview of our dealership", "Video","Home")</h3>
<br />
<br />
<br />
