@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <p> CMH NISSAN DURBAN</p>   
   <p>Address: 192 Dr Pixley Kaseme Street, Durban</p>
   <p>Contact number : 031 337 1251</p> 
   <p>Email Address : leadmaster60@cmh.co.za</p> 
</address>
<br/>
<br/>
<div class="social-networks">
    <h2>Social Networks</h2>
    <br/>
    <br/>
     <a href="https://www.facebook.com/cmhnissandurban/" target="_blank"><img height="50" width="50" src="~/Content/fb_icon_325x325.png" /></a> &nbsp; <a  href="http://www.instagram.com/cmhnissandbn/" target="_blank"><img height="50" width="50" src="~/Content/Multi-Color_Logo_thumbnail200.png" /></a>&nbsp;<a  href="https://www.twitter.com/cmhnissandbn/" target="_blank"><img height="50" width="50" src="~/Content/Bokehlicia-Pacifica-Twitter.ico" /></a>
   
   
</div>