<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nisaanonline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nisaanonline.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Nisaanonline</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Nisaanonline</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NissanCartTest01.WebUi.Models.Nissan01Context" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NissanCartTest01.WebUi.Models.Nissan01Context, NissanCartTest01.WebUi" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NissanCart.Domain.Concrete.NissanContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NissanCart.Domain.Concrete.NissanContext, NissanCart.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NissanCartTest01.WebUi.Models.ApplicationDbContext, NissanCartTest01.WebUi" MigrationConfiguration="NissanCartTest01.WebUi.Migrations.Configuration, NissanCartTest01.WebUi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NissanCart.Domain.Concrete.NissanContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NissanCartTest01.WebUi.Models.Nissan01Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NissanCart.Domain.Concrete.NissanContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NissanCartTest01.WebUi.Models.Nissan01Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NissanCart.Domain.Concrete.NissanContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NissanCartTest01.WebUi.Models.Nissan01Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nissanservice.database.windows.net,1433;Initial Catalog=NissanonlineDB;Persist Security Info=False;User ID=NissanDS3;Password=$3rviceDept;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="NissanCart.Domain.Concrete.NissanContext" />
    <_ConnectionStringsToInsert Include="NissanCartTest01.WebUi.Models.Nissan01Context" />
  </ItemGroup>
</Project>